# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Logs
*.log
npm-debug.log*

# Uploads locaux (plus utilisés avec Cloudinary)
uploads/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel
.vercel/
.env
